

h1 {
    font-size: 45px;
}

.main-info-container {
    margin: auto;
    width:75%;
    padding: 10px;
    box-shadow: 0px 2px 5px #000000;
    border-radius: 15px;
    /* border: 1px solid black;
    z-index: 3; */
    
}

.main-info-container li {
    list-style-type: none;
}

.intro-section {
    display: flex;
}

.intro-section > div {
    flex: 1;
}

.intro-section-image > img {
    height: 100%;
    width: 50%;
}

.my-name{
    font-weight: bold;
}

.my-name:hover {
    color: rgb(163, 4, 4);
    transition: all 0.4s ease-in-out;
}

.relevant-links{
    list-style: disc;
}

.smile {
    
}

.smile:hover {
    /*-webkit-transform: scale(1.2);*/
    font-size: larger;
    transition: all 0.4s ease-in-out;
    color:rgb(163, 4, 4);
}

.card-list {
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 60%;
    margin: 0 auto;
}

.relevant-links > li {
    font-size: 15px;
}

.socials-section {
    /* border: 1px solid rgb(163, 4, 4); */
    width: 27%;
}

.socials-label {
    font-size: 18px;
    margin-bottom: 10px;;
}

.social-icons {
    margin-left:5px;
    margin-right: 5px;
}
