* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    
}

body {
    background-color: rgb(56, 55, 55);
    color: #fff;
    /**padding: 10px;**/
    
}

.home, .projects, .music, .posts {
    background-color: rgb(56, 55, 55);
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: left;
    font-size: 3rem;

}

.home {
    
}

.projects {

}

.music {

}

.music {
    
}