* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    
}

body {
    background-color: rgb(56, 55, 55);
    color: #fff;
    /**padding: 10px;**/
    
}

.main-container {

    margin: auto;
    width:75%;
    padding: 10px;
    box-shadow: 0px 2px 5px #000000;
    border-radius: 15px;
    /* border: 1px solid black;
    z-index: 3; */

}

.home, .projects, .music, .posts {
    background-color: rgb(56, 55, 55);
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: left;
    font-size: 3rem;

}

.home {
    
}

.projects {

}

.music {

}

.music {
    
}