* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.home, .projects, .music, .posts {
    background-color: rgb(117, 114, 114);
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: left;
    font-size: 3rem;
}

.projects {

}

.music {

}

.music {
    
}